body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	background: url(../images/stock-photo-close-up-of-a-vintage-woven-wood-picnic-basket-2835871.jpg);
	background-attachment:fixed;
	color: #7A7A7A;
}

a, a:visited, a:active {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #7A7A7A;
	text-decoration: none;
}

a:hover {
	color: #7A7A7A;
	text-decoration: underline;
}

p {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 12px;
}

img {
	padding: 0;
	border: 0px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

#container {
	width: 908px;	
	margin: 0 auto;	
	margin-top:15px;
}

#header {
	width: 908px;
	height: 138px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background: url(../images/banner.png) left top no-repeat; 
	float: left;
}

#header h1 {
	letter-spacing: -1px;
	color: #990000;
	font-size: 36px;
	font-weight: bold;
	margin: 5px 0px 0px 15px;
	padding: 0px;
}

#header h1 a, #header h1 a:visited, #header h1 a:active, #header h1 a:hover {
	letter-spacing: -1px;
	color: #990000;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

#header p{
	margin-top: 0px;
	margin-left: 15px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: left;
	font-size: 12px;
	color: #990000;
}
#translate {
	float: right;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 23px; 
	margin-right: 10px;
	margin-bottom: 0px; 
}

#topmenu {
	float: left;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 15px;
	margin-top: 23px; 
	margin-right: 0px;
	margin-bottom: 0px; 
}

#topmenu ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#topmenu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#topmenu li a, #topmenu li a:visited, #topmenu li a:active {
	display: block;
	color: #585858;
	font-weight: bold;
	text-decoration: none;
	float: left;
	border-top: 1px solid #EBEBEB;
	border-right: 3px solid #EBEBEB;
	margin: 0px 3px 0px 0px;
	padding: 10px 20px 10px 20px;
}

#topmenu li a:hover {
	text-decoration: underline;
	border-top: 1px solid #EBEBEB;
	border-right: 3px solid #EBEBEB;
	margin: 0px 3px 0px 0px;
	padding: 10px 20px 10px 20px;
	background: #EBEBEB;
	color: #585858;
}

#search {
	float: right;
	padding-top: 0px;
	padding-left: 0px;
	margin-top: 10px; 
	margin-right: 22px;
}

#news {
	padding:0;
	margin-top:10px;
	width:908px;
}
#newstop {
	float:left;
	padding:0;
	margin:0;
	margin-top:5px;
	width:908px;
	height:10px;
	background:url(../images/top.png) no-repeat;
}

#newsbottom {
	float:left;
	padding:0;
	margin:0;
	width:908px;
	height:19px;
	background:url(../images/bottom.png) no-repeat;
}

#newsmid {
	float:left;
	padding:0;
	margin:0;
	width:908px;
	background:url(../images/middle.png) repeat-y;
}

.cats {
	padding:0;
	margin:0;
	margin-left:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#333;	
}
.cats td {
	padding:5px 0;	
}

.cats img{
	padding:0;
	margin:0;
	padding-right:10px;	
}

.catsss {
	padding:0;
	margin:0;
	margin-left:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333;	
}

.catsss {
	border:	1px solid #000;
	border-collapse:collapse;
}
.catsss th{
	text-align:left;
	background:#CCC;
	color:#333;
	padding:5px 0 5px 5px;		
}
.catsss td{
	padding:1px 0 1px 5px;
	text-align:left;
	border:	1px solid #000;
}

#footer {
	clear: both;
	float: left;
	text-align: center;
	width: 880px;
	margin: 0px 0px 0px 0px;	
	padding: 20px 0px 10px 0px;
	color:#FFF;
	font-size:10px;
	font-weight:bold;
}

#footer p {
	color: #8e8e8e; 
}

#footer a, #footer a:visited {
	text-decoration: none;
	color:#FFF;
}

#footer a:active, #footer a:hover {
	text-decoration: underline;
}

#jmo {
	margin-top:10px;	
}
#int {
	padding:0;
	margin:0;
	margin-bottom:10px;
	color:#903;
	font-size:16px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-left:20px;	
}
#navs {
	text-align:center;	
}
#compname {
	padding:0;
	padding-left:20px;
	margin:10px 0;
	color:#903;	
}
#compname h2 {
	border-bottom:ridge;
	width:97%;		
}

#prof {
	width:880px;
	margin-left:10px;
	margin-bottom:10px;
	padding:0;
	text-align:justify;
	color:#333;		
}

#pro {
	width:96%;
	margin:0;
	margin-left:10px;
	margin-top:25px;
	margin-bottom:5px;
	padding:0;
	text-align:left;
	color:#903;	
	border-bottom:ridge;
}

#pro h3 {
	margin:0;
	padding:0;
}
.compother {
	font-family:Verdana, Geneva, sans-serif;
	color:#333;	
}
#newsbody {
	margin:0;
	margin-left:15px;
	padding:0;
	width:500px;
	text-align:justify;
	float:left;
}
#other {
	margin:0;
	padding:0;
	margin-left:10px;
	width:350px;
	float:left;	
}
#more {
	margin:0;
	padding:0;
	margin-left:10px;
	margin-bottom:3px;
	color:#903;
	font-weight:bold;	
}
#item {
	margin:0;
	padding:0;
	border:1px solid #903;
	background:#EAEAEA;
}
#submit {
	margin:0;
	padding:0;
	color:#903;
	background:#EAEAEA;
	border-bottom:1px solid #903;
	border-right:1px solid #903;	
}